<template>
    <div class="bg-dark text-gold mb-3 py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-md-6">
                    <div class="d-flex justify-content-between">
                        <div>
                             <span disabled><b>Iyke - Quizer Demo</b></span>
                        </div>
                        <div>
                            <span disabled class="text-white counts">Your Score: <span class="text-success font-weight-bolder">{{ numCorrect }}</span>/<span class="total">{{ numTotal }}</span></span>
                        </div>
                    </div> 
                </div>
                <div class="col-md-6 text-right">
                    <span class="ml-auto mr-3 py-2">
                        <a href="mailto:iykedavis69@gmail.com" class = "btn btn-sm btn-light mr-2">Send Message</a>
                        <a href="tel:+2348104491751" class = "btn btn-sm btn-light ml-2">Call Now</a>
                    </span>
                </div>
            </div>
        </div>
        <hr class="bg-gold">
    </div>
</template>

<style scoped>
    .text-gold{
        color: goldenrod;
    }
    .bg-gold{
        background-color: goldenrod;
    }
    .counts{
        font-size: 20px;
    }
    .counts > span{
        font-size: 50px;
    }
    .counts .total{
         font-size: 30px;
    }
</style>
<script>
export default {
    props:[
        'numCorrect',
        'numTotal'
    ]
}
</script>
