<template>
    <div class="question-box-container container bg-dark">
        <b-jumbotron>

            <template>
                Question  {{ this.questionCounter }}
            </template>

            <template v-slot:lead v-if="this.questionCounter <= 10">
                {{ currentQuestion.question }}
                
            </template>
            <template v-else>
               Thank you for completing the test
            </template>
         
            <hr class="my-4">
            <b-list-group v-if="this.questionCounter <= 10">
                <b-list-group-item
                 v-for="(answer, index) in answers" 
                 :key="index"
                @click="selectAnswer(index)"
                :class="answerClass(index)"
                
                >
                   {{ answer }}
 
                </b-list-group-item>
                
            </b-list-group>
           
            

            <b-button v-if="this.answered == false || this.questionCounter <= 10"
               
                variant="primary" 
                @click="submitAnswer"
                :disabled="selectedIndex == null || answered || this.answered"
                

            >
                Submit Button
            </b-button>
            <b-button v-if="this.questionCounter <= 10" @click="next();counter()" variant="success" href="#"
                :disabled="this.answered==false"
               
            >
                Next Question
                </b-button>
        </b-jumbotron>
    </div>
</template>

<script>
import _ from 'lodash'
export default {
    props:{
        currentQuestion: Object,
        next: Function,
        increment: Function
    },
    data(){
        return{
            selectedIndex: null,
            correctIndex: null,
            shuffledAnswers:[],
            answered: false,
            questionCounter:1,
            testType:"https://opentdb.com/api.php?amount=10&category=27&type=multiple"
            
        }
    },
    computed:{
        answers(){
            let answers = [...this.currentQuestion.incorrect_answers]
            answers.push(this.currentQuestion.correct_answer)
            return answers
        }
    },
    watch:{
        currentQuestion: {
            immediate:true,
            handler(){
                this.selectedIndex = null,
                this.answered = false,
                this.shuffleAnswers()
            }
        }
    },
    methods:{
        selectAnswer(index){
            this.selectedIndex = index
        },
        shuffleAnswers(){
            let answers = [...this.currentQuestion.incorrect_answers, this.currentQuestion.correct_answer]
            this.shuffledAnswers = _.shuffle(answers)
            this.correctIndex = this.shuffledAnswers.indexOf(this.currentQuestion.correct_answer)

        },
        submitAnswer(){
            let isCorrect = false
            if(this.answers[this.selectedIndex] === this.currentQuestion.correct_answer){
                isCorrect = true
            }
            this.answered = true

            this.increment(isCorrect)
            
            
            
        },
        
        getType() {
            this.testType = this.selected
            return this.testType
        },
        counter(){
            this.questionCounter++
            return this.questionCounter
        },
        answerClass(index){
            let answerClass = ''
            if(!this.answered && this.selectedIndex == index){
                answerClass = 'selected'
            }else if(this.answered && this.correctIndex == index){
                answerClass = 'correct'
            }else if(this.answered && this.selectedIndex == index && this.correctIndex !== index){
                answerClass = 'incorrect'
            }
            return answerClass
        }
    }
}
</script>

<style scoped>
    .list-group{
        margin-bottom: 15px;
       
    }
    .list-group-item:hover{
        background-color:#eee;
         cursor: pointer;
    }
    .btn{
        margin: 0 5px;
    }
    .selected{
        background-color: dodgerblue;
        color: #fff;
    }
    .correct{
        background-color: green;
        color: #fff;
    }
    .incorrect{
        background-color: red;
        color: #fff;
    }
</style>